/*! CSS Used from: Embedded */
.css-1jh7juy {
  box-sizing: border-box;
  min-width: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #333;
  font-family: Futura PT, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    sans-serif;
  font-size: 18px;
  line-height: 1.45;
}
/*! CSS Used from: Embedded */
.css-qwmpuq {
  box-sizing: border-box;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  color: #111;
  font-weight: 700;
  margin: 0 auto;
  max-width: inherit;
  padding: 16px;
  width: 90vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  color: rebeccapurple;
}
.css-qwmpuq a {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
}
/*! CSS Used from: Embedded */
.css-l5jsv5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  z-index: 2;
}
/*! CSS Used from: Embedded */
.css-u4p24i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*! CSS Used from: Embedded */
.css-1gnc16l {
  height: 25px;
  margin-right: 8px;
}
/*! CSS Used from: Embedded */
.css-1lka4tg {
  color: #111;
  margin-right: 4px;
  display: none;
}
@media screen and (min-width: 750px) {
  .css-1lka4tg {
    display: inline;
  }
}
/*! CSS Used from: Embedded */
.css-70qvj9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*! CSS Used from: Embedded */
.css-1e94fx4 {
  border-top: none;
  border-color: #efefef;
  list-style: none;
  padding: 0;
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}
.css-1e94fx4 * + * {
  margin-left: 32px;
}
/*! CSS Used from: Embedded */
.css-1vepne2 {
  font-weight: 400;
  display: none;
}
@media screen and (min-width: 750px) {
  .css-1vepne2 {
    display: list-item;
  }
}
/*! CSS Used from: Embedded */
.css-a7f6kq {
  height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: none;
  border: 0;
  padding: 0;
  margin-left: 16px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 750px) {
  .css-a7f6kq {
    display: none;
  }
}
/*! CSS Used from: Embedded */
.css-hm1gqp {
  width: 24px;
  height: 3px;
  margin: 10px 0;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  background-color: rebeccapurple;
  -webkit-transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.css-hm1gqp:before {
  content: " ";
  top: -7px;
  width: 20px;
  right: 0;
  background-color: rebeccapurple;
  border-radius: 4px;
  height: 3px;
  position: absolute;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.css-hm1gqp:after {
  content: " ";
  top: 7px;
  width: 16px;
  right: 0;
  background-color: rebeccapurple;
  border-radius: 4px;
  height: 3px;
  position: absolute;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*! CSS Used from: Embedded */
.css-759nuu {
  box-sizing: border-box;
  min-width: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 auto;
  max-width: 650px;
  width: 90vw;
}
/*! CSS Used from: Embedded */
.css-10qzsxd {
  box-sizing: border-box;
  min-width: 0;
  width: 100%;
  min-width: 0;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}
/*! CSS Used from: Embedded */
.css-an2yfs {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 360px;
}
/*! CSS Used from: Embedded */
.css-gbk9w0 {
  color: #111;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  margin: 1rem 0 0;
  margin-top: 32px;
  text-align: center;
}
/*! CSS Used from: Embedded */
.css-1ukxsgt {
  color: #232129;
  margin: 0;
  margin-top: 16px;
  text-align: center;
  display: block;
  color: #635e69;
  font-size: 22px;
}
/*! CSS Used from: Embedded */
.css-17772hy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
/*! CSS Used from: Embedded */
.css-1ehaigh {
  color: #d9bae8;
}
/*! CSS Used from: Embedded */
.css-utyes1 {
  border-top: none;
  border-color: #efefef;
  list-style: none;
  padding: 0;
  margin-top: 16px;
}
/*! CSS Used from: Embedded */
.css-10l3hxu {
  border-bottom: none;
  border-color: #ddd;
  padding: 0;
  margin-top: 8px;
  color: #232129;
}
.css-10l3hxu:hover {
  background-color: transparent;
  cursor: primary;
}
/*! CSS Used from: Embedded */
.css-1icsuyx {
  position: relative;
  min-height: 100px;
  margin-top: 128px;
  margin-bottom: 128px;
  padding: 32px;
  background-color: #fcfaff;
}
@media screen and (min-width: 750px) {
  .css-1icsuyx {
    padding: 64px;
  }
}
.css-1icsuyx::before {
  background-image: linear-gradient(
    45deg,
    #b17acc 16.67%,
    #ffffff 16.67%,
    #ffffff 50%,
    #b17acc 50%,
    #b17acc 66.67%,
    #ffffff 66.67%,
    #ffffff 100%
  );
  left: 0;
  -webkit-transform: translate(-20px, -85px);
  -ms-transform: translate(-20px, -85px);
  transform: translate(-20px, -85px);
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  content: "";
  background-size: 5px 5px;
}
.css-1icsuyx::after {
  left: 0;
  -webkit-transform: rotate(135deg) translate(21px, -3px);
  -ms-transform: rotate(135deg) translate(21px, -3px);
  transform: rotate(135deg) translate(21px, -3px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #b17acc;
  position: absolute;
  content: "";
  bottom: 0;
}
.css-1icsuyx h2:first-of-type {
  margin-top: 0;
}
/*! CSS Used from: Embedded */
.css-etd137 {
  margin: 0;
  margin-top: 64px;
}
/*! CSS Used from: Embedded */
.css-16rl8j0 {
  color: #232129;
  margin: 0;
  margin-top: 16px;
}
/*! CSS Used from: Embedded */
.css-n085mf {
  padding-left: 16px;
}
/*! CSS Used from: Embedded */
.css-1nu2fhr {
  display: inline-block;
  background-color: #232129;
  border: 1px solid;
  border-color: #ddd;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.1;
  padding: 4px;
  width: 100%;
  overflow-x: auto;
  color: #efefef;
}
/*! CSS Used from: Embedded */
.css-1gqdyqg {
  position: relative;
  min-height: 100px;
  margin-top: 128px;
  margin-bottom: 128px;
  padding: 32px;
  background-color: #fffcf7;
}
@media screen and (min-width: 750px) {
  .css-1gqdyqg {
    padding: 64px;
  }
}
.css-1gqdyqg::before {
  background-image: linear-gradient(
    -45deg,
    #ffd280 16.67%,
    #ffffff 16.67%,
    #ffffff 50%,
    #ffd280 50%,
    #ffd280 66.67%,
    #ffffff 66.67%,
    #ffffff 100%
  );
  right: 0;
  -webkit-transform: translate(20px, -85px);
  -ms-transform: translate(20px, -85px);
  transform: translate(20px, -85px);
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  content: "";
  background-size: 5px 5px;
}
.css-1gqdyqg::after {
  right: 0;
  -webkit-transform: rotate(-135deg) translate(-21px, -3px);
  -ms-transform: rotate(-135deg) translate(-21px, -3px);
  transform: rotate(-135deg) translate(-21px, -3px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffd280;
  position: absolute;
  content: "";
  bottom: 0;
}
.css-1gqdyqg h2:first-of-type {
  margin-top: 0;
}
/*! CSS Used from: Embedded */
.css-1v8kwvb {
  position: relative;
  min-height: 100px;
  margin-top: 128px;
  margin-bottom: 128px;
  padding: 32px;
  background-color: #f5fcff;
}
@media screen and (min-width: 750px) {
  .css-1v8kwvb {
    padding: 64px;
  }
}
.css-1v8kwvb::before {
  background-image: linear-gradient(
    45deg,
    #90cdf9 16.67%,
    #ffffff 16.67%,
    #ffffff 50%,
    #90cdf9 50%,
    #90cdf9 66.67%,
    #ffffff 66.67%,
    #ffffff 100%
  );
  left: 0;
  -webkit-transform: translate(-20px, -85px);
  -ms-transform: translate(-20px, -85px);
  transform: translate(-20px, -85px);
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  content: "";
  background-size: 5px 5px;
}
.css-1v8kwvb::after {
  left: 0;
  -webkit-transform: rotate(135deg) translate(21px, -3px);
  -ms-transform: rotate(135deg) translate(21px, -3px);
  transform: rotate(135deg) translate(21px, -3px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #90cdf9;
  position: absolute;
  content: "";
  bottom: 0;
}
.css-1v8kwvb h2:first-of-type {
  margin-top: 0;
}
/*! CSS Used from: Embedded */
.css-mlesz9 {
  position: absolute;
  top: 625px;
  left: -35px;
  height: 35%;
  max-height: 300px;
  z-index: -1;
  opacity: 0.3;
}
@media screen and (min-width: 750px) {
  .css-mlesz9 {
    left: 0;
    height: 50%;
    opacity: 1;
  }
}
/*! CSS Used from: Embedded */
.css-gg771i {
  position: absolute;
  top: 200px;
  right: 0;
  height: 35%;
  max-height: 300px;
  z-index: -1;
  opacity: 0.5;
}
@media screen and (min-width: 750px) {
  .css-gg771i {
    top: 75px;
    height: 50%;
    opacity: 1;
  }
}
/*! CSS Used from: Embedded */
.css-12gbfwr {
  position: absolute;
  top: 25vh;
  left: 20vw;
  z-index: -1;
}
/*! CSS Used from: Embedded */
.css-13800us {
  margin-top: 150px;
}
/*! CSS Used from: Embedded */
.css-c3xte6 {
  position: absolute;
  right: 0;
  height: 35%;
  max-height: 300px;
  z-index: -1;
  opacity: 0.3;
}
@media screen and (min-width: 750px) {
  .css-c3xte6 {
    height: 50%;
    opacity: 1;
  }
}
/*! CSS Used from: Embedded */
.css-kpvk15 {
  color: #232129;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #635e69;
}
/*! CSS Used from: Embedded */
.css-eh4yjp {
  border-top: none;
  border-color: #efefef;
  list-style: none;
  padding: 0;
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 32px;
}
@media screen and (min-width: 750px) {
  .css-eh4yjp {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.css-eh4yjp * + * {
  margin-left: 0;
  margin-top: 8px;
}
@media screen and (min-width: 750px) {
  .css-eh4yjp * + * {
    margin-left: 16px;
    margin-top: 0;
  }
}
/*! CSS Used from: Embedded */
.css-1cu8fls {
  border-bottom: none;
  border-color: #ddd;
  padding: 0;
  margin-top: 8px;
  color: #232129;
  margin-top: 0;
}
.css-1cu8fls:hover {
  background-color: transparent;
  cursor: primary;
}
/*! CSS Used from: Embedded */
.css-1kt8mct {
  color: rebeccapurple;
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 8px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  height: 48px;
}
@media screen and (min-width: 750px) {
  .css-1kt8mct {
    grid-template-columns: auto auto;
    height: inherit;
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-family: Futura PT;
  font-display: swap;
  src: url(https://themejam.gatsbyjs.org/static/ftn45-webfont-c2439033a37a428d148b673062131f47.woff2)
      format("woff2"),
    url(https://themejam.gatsbyjs.org/static/ftn45-webfont-2b95f947aed524d9309c78cc9c9c7528.woff)
      format("woff"),
    url(https://themejam.gatsbyjs.org/static/ftn45-webfont-d997e84e92366d98a8e00c4cc2731cfe.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Futura PT;
  font-display: swap;
  src: url(https://themejam.gatsbyjs.org/static/ftn65-webfont-0ddc10d20bd3c3e162e4ea9b49c82856.woff2)
      format("woff2"),
    url(https://themejam.gatsbyjs.org/static/ftn65-webfont-d40bda222a86b1160230720097056b18.woff)
      format("woff"),
    url(https://themejam.gatsbyjs.org/static/ftn65-webfont-b9e7a71256335f15df8f2734393ee767.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Futura PT;
  font-display: swap;
  src: url(https://themejam.gatsbyjs.org/static/ftn85-webfont-8723b7c6d2438ea9aaa9337f9e86876f.eot);
  src: url(https://themejam.gatsbyjs.org/static/ftn85-webfont-8723b7c6d2438ea9aaa9337f9e86876f.eot#iefix)
      format("embedded-opentype"),
    url(https://themejam.gatsbyjs.org/static/ftn85-webfont-6ad5290a317be4dc9031cd1e82fc080b.woff2)
      format("woff2"),
    url(https://themejam.gatsbyjs.org/static/ftn85-webfont-6750568fc344deab1d90d6a1baf9d3f4.woff)
      format("woff"),
    url(https://themejam.gatsbyjs.org/static/ftn85-webfont-248f6063b34fdba35a56b2f49a1687b9.ttf)
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
