body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.wrapper {
  min-width: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #333;
  font-family: Futura PT, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    sans-serif;
  font-size: 18px;
  line-height: 1.45;
}

.header {
  min-width: 0;
  background-color: #fff;
  font-weight: 700;
  margin: 0 auto;
  max-width: inherit;
  padding: 16px;
  width: 90vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  color: rebeccapurple;
}
.header a {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.main {
  min-width: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 auto;
  max-width: 650px;
  width: 90vw;
}

.submain {
  min-width: 0;
  width: 100%;
  min-width: 0;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.wrapper__img {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 22.5rem;
  height: 15.625rem;
}

h1 {
  color: #111;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  margin: 1rem 0 0;
  margin-top: 32px;
  text-align: center;
}

.p__principal {
  margin: 0;
  margin-top: 16px;
  text-align: center;
  display: block;
  color: #635E69;
  font-size: 20px;
}

.arrow__down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.question__wrapper {
  border-top: none;
  border-color: #efefef;
  list-style: none;
  padding: 0;
  margin-top: 16px;
}

.question {
  border-bottom: none;
  border-color: #ddd;
  padding: 0;
  margin-top: 8px;
  color: #232129;
}

.question:focus-within,
.question:hover {
  background-color: transparent;
  cursor: primary;
}

.answer__1 {
  position: relative;
  min-height: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 28px;
  background-color: #f3eefc;
}

@media screen and (min-width: 750px) {
  .answer__1 {
    padding: 64px;
  }
}

.answer__1::before {
  background-image: linear-gradient(
    45deg,
    #b17acc 16.67%,
    #ffffff 16.67%,
    #ffffff 50%,
    #b17acc 50%,
    #b17acc 66.67%,
    #ffffff 66.67%,
    #ffffff 100%
  );
  left: 0;
  -webkit-transform: translate(-20px, -85px);
  -ms-transform: translate(-20px, -85px);
  transform: translate(-20px, -85px);
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  content: "";
  background-size: 5px 5px;
}

.answer__1::after {
  left: 0;
  -webkit-transform: rotate(135deg) translate(21px, -3px);
  -ms-transform: rotate(135deg) translate(21px, -3px);
  transform: rotate(135deg) translate(21px, -3px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #b17acc;
  position: absolute;
  content: "";
  bottom: 0;
}

.answer__1 h2:first-of-type {
  margin-top: 0;
}

.top__arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 16px;
}

.answer__h2 {
  margin: 0;
  margin-top: 64px;
}

.answer__p {
  color: #232129;
  margin: 0;
  margin-top: 16px;
}

.answer__2 {
  position: relative;
  min-height: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 28px;
  background-color: #fff5e3;
}

@media screen and (min-width: 750px) {
  .answer__2 {
    padding: 64px;
  }
}

.answer__2::before {
  background-image: linear-gradient(
    -45deg,
    #f1be5d 16.67%,
    #ffffff 16.67%,
    #ffffff 50%,
    #ffd280 50%,
    #ffd280 66.67%,
    #ffffff 66.67%,
    #ffffff 100%
  );
  right: 0;
  -webkit-transform: translate(20px, -85px);
  -ms-transform: translate(20px, -85px);
  transform: translate(20px, -85px);
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  content: "";
  background-size: 5px 5px;
}

.answer__2::after {
  right: 0;
  -webkit-transform: rotate(-135deg) translate(-21px, -3px);
  -ms-transform: rotate(-135deg) translate(-21px, -3px);
  transform: rotate(-135deg) translate(-21px, -3px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffd280;
  position: absolute;
  content: "";
  bottom: 0;
}

.answer__2 h2:first-of-type {
  margin-top: 0;
}

.answer__3 {
  position: relative;
  min-height: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 28px;
  background-color: #e2f5fd;
}

@media screen and (min-width: 750px) {
  .answer__3 {
    padding: 64px;
  }
}

.answer__3::before {
  background-image: linear-gradient(
    45deg,
    #90cdf9 20.67%,
    #ffffff 16.67%,
    #ffffff 50%,
    #90cdf9 50%,
    #90cdf9 66.67%,
    #ffffff 66.67%,
    #ffffff 100%
  );
  left: 0;
  -webkit-transform: translate(-20px, -85px);
  -ms-transform: translate(-20px, -85px);
  transform: translate(-20px, -85px);
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  content: "";
  background-size: 5px 5px;
}

.answer__3::after {
  left: 0;
  -webkit-transform: rotate(135deg) translate(21px, -3px);
  -ms-transform: rotate(135deg) translate(21px, -3px);
  transform: rotate(135deg) translate(21px, -3px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #90cdf9;
  position: absolute;
  content: "";
  bottom: 0;
}

.answer__3 h2:first-of-type {
  margin-top: 0;
}

.adorno__2 {
  position: absolute;
  top: 625px;
  left: -35px;
  height: 35%;
  max-height: 300px;
  z-index: -1;
  opacity: 0.3;
}

@media screen and (min-width: 825px) {
  .adorno__2 {
    left: 0;
    height: 50%;
    opacity: 1;
  }
}

.adorno__1 {
  position: absolute;
  top: 200px;
  right: 0;
  height: 35%;
  max-height: 300px;
  z-index: -1;
  opacity: 0.5;
}
@media screen and (min-width: 750px) {
  .adorno__1 {
    top: 75px;
    height: 50%;
    opacity: 1;
  }
}

.ellipse {
  position: absolute;
  top: 25vh;
  left: 20vw;
  z-index: -1;
}

.footer {
  margin-top: 150px;
}

.adorno__3 {
  position: absolute;
  right: 0;
  height: 35%;
  max-height: 300px;
  z-index: -1;
  opacity: 0.3;
}
@media screen and (min-width: 1050px) {
  .adorno__3 {
    height: 50%;
    opacity: 1;
  }
}

.footer__p {
  color: #232129;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #635e69;
  text-align: center;
}

.footer__sign {
  list-style: none;
  padding-top: 20px;
  margin-top: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.footer__sign a {
  text-decoration: none;
  background-color: rebeccapurple;
  color: #fff;
  border-radius: 0.25rem;
  padding: 5px;
}

.footer__sign a:hover {
  text-decoration: none;
  background-color: lightgray;
  color: rebeccapurple;
  border-radius: 0.25rem;
  padding: 5px;
}

.error__page {
  display: grid;
  place-items: center;
  background: #fff;
  text-align: center;
}
.error__page h1 {
  text-transform: uppercase;
  color: red;
  margin-bottom: 2rem;
}

.btn {
  text-transform: uppercase;
  background:lightgreen;
  color: #fff;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.2rem;
  display: inline-block;
  font-weight: 700;
  -webkit-transition:  all 0.3s linear;
  transition:  all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}
.btn:hover {
  color: lightgreen;
  background: #fff;
}

.error__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}